<h2>物件一覧</h2>

<p><%= notice %></p>

<% @propers.each do |proper| %>
  物件名: proper.proper_name
  賃料: proper.rent
  住所: proper.address
  築年数: proper.age
  備考: proper.remark
  
  <%= link_to '詳細', proper_path(proper.id) %>
  <%= link_to "編集", edit_proper_path(proper.id), mothod: :get , data: { confirm: '本当に編集していいですか？' } %>
  <%= link_to '削除', proper_path(proper.id), method: :delete , data: { confirm: '本当に削除していいですか？' } %>
<% end %>