// Place all the styles related to the propers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
a {
  color: #808080;
}

li {
  list-style:none;
  margin-bottom: 20px;
}

.input_item {
  margin-bottom: 15px;
}